.logo{
    text-align: center;
    margin-bottom: 30px;
}
.main-class{
    text-align: center;
    margin-top: 20px;


}
div {
    height:30px;
    width: 30px;
    display: inline-block;
}
div:nth-child(2n) {
    background: black;
}