body{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;

}
.logo{
    text-shadow: 6px 6px 6px silver,
    -1px 1px 1px silver;
    color:white;
    font-size: 6em;
text-align: center;
}
.details-title{

}
.details-conteiner{

}
.details-image{
    width: 400px;
    height: 300px;


}
.details-title{
    text-shadow: 6px 6px 6px black,
    -1px 1px 1px black;
    color:white;
    font-size: 3em;
    position: absolute;
    text-align: center;
    left: 35%;

}
.thubnails-item{

}
.thubnails-images{
    width: 400px;
    height: 300px;
    

    
   
}
.thubnails-anchor{

}
.thubnails-title{
    font-size: 0.5em;
    text-align: center;

}
